<a href="https://colab.research.google.com/github/suaJeong-777/AI-recommend-system/blob/main/eco_friendly_product_recommendation0824.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import warnings; warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

movies = pd.read_csv(r'/content/drive/MyDrive/소개딩_2022/tmdb_5000_environment.csv',encoding='cp949')
# print(movies.shape)
# print(movies.head(10))

movies_df = movies[['id','title','genres','voteAverage', 'voteCount', 'popularity', 'keywords', 'overview']]
print(movies_df['genres'].head(1))
print(movies_df['keywords'].head(1))

0    [{"id": 6, "name": "clothes"}, {"id": 63, "name": "bag"}, {"id": 10, "name": "material"}, {"id": 103, "name": "plastic"}]
Name: genres, dtype: object
0    [{"id": 63, "name": "bag"}, {"id": 103, "name": "plastic"}]
Name: keywords, dtype: object

In [ ]:
from ast import literal_eval
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)
movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])
print(movies_df['genres'].head(1))
print(movies_df['keywords'].head(1))

0    [clothes, bag, material, plastic]
Name: genres, dtype: object
0    [bag, plastic]
Name: keywords, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

#CountVectorizer를 적용하기 위해 공백문자로 word단위가 구분되는 문자열로 변환.
movies_df['generes_literal'] = movies_df['genres'].apply(lambda x :  (' ').join(x))
print(movies_df['generes_literal'].head(10))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['generes_literal'])
print(genre_mat)
print(genre_mat.shape)

0         clothes bag material plastic
1         clothes pouch matrial fabric
2         clothes bag material leather
3          clothes bag material others
4          clothes top material fabric
5    clothes underwear material others
6      clothes wallet material leather
7     beauty toothbrush material woods
8       kitchen others material others
9    kitchen dishcloth material fabric
Name: generes_literal, dtype: object
  (0, 9)	1
  (0, 0)	1
  (0, 50)	1
  (0, 65)	1
  (0, 10)	1
  (0, 1)	1
  (0, 55)	1
  (1, 9)	1
  (1, 66)	1
  (1, 57)	1
  (1, 32)	1
  (1, 12)	1
  (1, 67)	1
  (1, 58)	1
  (2, 9)	1
  (2, 0)	1
  (2, 50)	1
  (2, 10)	1
  (2, 1)	1
  (2, 47)	1
  (2, 53)	1
  (3, 9)	1
  (3, 0)	1
  (3, 50)	1
  (3, 10)	1
  :	:
  (94, 59)	2
  (94, 54)	1
  (94, 60)	1
  (94, 63)	1
  (94, 64)	1
  (95, 50)	1
  (95, 59)	2
  (95, 54)	1
  (95, 60)	1
  (95, 63)	1
  (95, 64)	1
  (96, 50)	1
  (96, 59)	1
  (96, 54)	1
  (96, 2)	1
  (96, 68)	1
  (96, 3)	1
  (96, 69)	1
  (97, 50)	1
  (97, 59)	1
  (97, 54)	1
  (97, 2)	1
  (97, 68)	1
  (97, 3)	1
  (97, 69)	1
(98, 93)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(98, 98)
[[1.         0.14285714 0.71428571 0.71428571 0.28571429 0.28571429
  0.28571429 0.14285714 0.12598816 0.14285714 0.14285714 0.14285714
  0.14285714 0.14285714 0.12598816 0.28571429 0.14285714 0.14285714
  0.14285714 0.14285714 0.14285714 0.14285714 0.14285714 0.14285714
  0.12598816 0.71428571 0.71428571 0.71428571 0.14285714 0.14285714
  0.12598816 0.14285714 0.14285714 0.14285714 0.12598816 0.14285714
  0.14285714 0.14285714 0.14285714 0.14285714 0.14285714 0.14285714
  0.14285714 0.14285714 0.14285714 0.14285714 0.         0.
  0.42857143 0.42857143 0.42857143 0.14285714 0.14285714 0.14285714
  0.14285714 0.14285714 0.14285714 0.14285714 0.14285714 0.14285714
  0.14285714 0.14285714 0.14285714 0.14285714 0.14285714 0.14285714
  0.14285714 0.14285714 0.14285714 0.12598816 0.42857143 0.42857143
  0.42857143 0.42857143 0.42857143 0.42857143 0.14285714 0.14285714
  0.14285714 0.14285714 0.14285714 0.42857143 0.42857143 0.28571429
  0.28571429 0.28571429 0.28571429 0.28571429 0.28571429 1.
  0.42857143 0.42857143 1.         0.12598816 0.12598816 0.12598816
  0.14285714 0.14285714]]

In [ ]:
genre_sim_sorted_ind = genre_sim.argsort()[:,::-1]
print(genre_sim_sorted_ind[:1])

[[ 0 92 89  2  3 25 26 27 75 49 50 70 71 72 73 74 48 91 81 82 90 84 86 88
  87  6 15 85 83  5  4 29 28 80 36 31 32 33 35 22 37 23 17 21 20 19 18 39
  16 13 12 11 10  9  7  1 38 40 79 64 41 59 60 61 62 63 65 56 66 67 68 76
  77 78 57 58 55 96 42 43 44 45 54 97 51 52 53 14 30  8 34 69 93 94 95 24
  47 46]]

In [ ]:
products=input("상품을 입력하세요: ")

상품을 입력하세요: 대나무 슬리퍼

In [ ]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    #인자로 입력된 movies_df DataFrame에서 'title'칼럼이 입력된 title_name값인 DataFrame 추출
    title_movie = df[df['title'] == title_name]

    #title_named을 가진 DataFrame의 index객체를 ndarray로 반환하고
    #sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n개의 index추출
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]

    #추출된 top_n index출력, top_n index는 2차원 데이터임
    #dataframe에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)

    return df.iloc[similar_indexes]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, products, 5)   # 찾고자 하는 데이터와 유사한 것
print(similar_movies.info())
print(similar_movies)
print(similar_movies[['title', 'voteCount', 'voteAverage']])

[[15 45 53 44  7]]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 15 to 7
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5 non-null      int64
 1   title            5 non-null      object
 2   genres           5 non-null      object
 3   voteAverage      5 non-null      float64
 4   voteCount        5 non-null      int64
 5   popularity       5 non-null      float64
 6   keywords         5 non-null      object
 7   overview         5 non-null      object
 8   generes_literal  5 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 400.0+ bytes
None
        id    title                                 genres  voteAverage  \
15    2454  대나무 슬리퍼      [clothes, shoes, material, woods]          6.3
45   72190     작두콩차           [food, tea, material, woods]          6.7
53     217   테이블 휴지       [items, others, material, woods]          5.7
44  168259      우엉차           [food, tea, material, woods]          7.3
7    99861    대나무칫솔  [beauty, toothbrush, material, woods]          7.3

    voteCount  popularity             keywords  \
15       1630   53.978602       [shoes, woods]
45       5560   81.834855         [tea, woods]
53       2495   75.674458      [others, woods]
44       4176  102.322217         [tea, woods]
7        6767  134.279229  [toothbrush, woods]

                                       overview  \
15                      slippers made of bamboo
45            tea made from zero waste farming
53   tissue paper made of milk containter paper
44            tea made from zero waste farming
7   toothbrush made of woods especially bamboo

                     generes_literal
15      clothes shoes material woods
45           food tea material woods
53       items others material woods
44           food tea material woods
7   beauty toothbrush material woods
      title  voteCount  voteAverage
15  대나무 슬리퍼       1630          6.3
45     작두콩차       5560          6.7
53   테이블 휴지       2495          5.7
44      우엉차       4176          7.3
7     대나무칫솔       6767          7.3

In [ ]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, products, 5)
print(similar_movies[['title']])

[[15 45 53 44  7]]
      title
15  대나무 슬리퍼
45     작두콩차
53   테이블 휴지
44      우엉차
7     대나무칫솔

In [ ]:
#save model by joblib library
import joblib
joblib.dump(similar_movies, 'saved_model.pkl')

['saved_model.pkl']